    <footer class="column">
        <div class="row footer-gap">
            <div class="footer-logo">
                <img src="assets/preview.png" alt="">
                <div style="height: 1vh;"></div>
                <h1>Nawashu</h1>
            </div>
            <div class="footer-data row">
                <div class="data-class">
                    <h1 style="font-size: 25px;">Privacy</h1>
                    <br>
                    <a href="https://docs.google.com/document/d/1Ppx3Go5QbKVD9zOlagJGAQXBjF7Cjvy1FnE1NVZQY4w/edit?usp=drivesdk">- Terms of Service</a>
                    <a href="https://docs.google.com/document/d/1Ppx3Go5QbKVD9zOlagJGAQXBjF7Cjvy1FnE1NVZQY4w/edit?usp=drivesdk">- Privacy Policy</a>
                </div>
                <div class="data-class">
                    <h1 style="font-size: 25px;">Links</h1>
                    <br>
                    <a href="https://discord.gg/JA4b3pDYZF">- Discord</a>
                    <a href="https://discord.com/oauth2/authorize?client_id=774014360980815903&permissions=8&scope=bot%20applications.commands">- Invite</a>
                </div>
                <div class="data-class">
                    <h1 style="font-size: 25px;">Powered</h1>
                    <br>
                    <a href="https://oragon.cloud">- Oragon Cloud</a>
                    <a href="https://discord.js.org/#/">- Discord.js</a>
                    <a href="https://nodejs.org/en">- Node.js</a>
                </div>
            </div>
        </div>
        <div style="height: 2vh;"></div>
        <div class="row">
            <p>made with 🦶🏼 by <span class="discordMention">@mat_sama</span></p>
        </div>
    </footer>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-JZPJFW9PLC"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        
        gtag('config', 'G-JZPJFW9PLC');
</script>
</body>